body {
  background-color: #f8f9fa;
  color: #212529;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header, footer {
  background-color: black;
  padding: 0 20px;
}
header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header img {
  height: 40px;
}
nav a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}
nav a:hover {
  text-decoration: underline;
}
main {
  flex: 1;
  text-align: center;
  padding: 100px 20px;
}
footer {
  padding: 10px 0;
  text-align: center;
  margin-top: auto;
}
footer .container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 768px) {
  footer .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
footer p {
  margin: 0;
  font-size: 0.9em;
}
